//////////////////////////////////////////
// FONT FACE
/////////////////////////////////////////

@font-face {
    font-family: 'Sergeant';
    src: url('../fonts/Sergeant/SergeantTechnicFont2.woff2') format('woff2'),
        url('../fonts/Sergeant/SergeantTechnicFont2.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham/Gotham-Light.woff2') format('woff2'),
        url('../fonts/Gotham/Gotham-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham/Gotham-Black.woff2') format('woff2'),
        url('../fonts/Gotham/Gotham-Black.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}


//////////////////////////////////////////
// VARIABLES
/////////////////////////////////////////

// font-face
$font-base: 'Gotham', "Helvetica Neue", Arial, sans-serif;
$font-second: 'Sergeant', "Helvetica Neue", Arial, sans-serif;

// colors
$white: white;
$black: black;
$grey: #3d3d3d;

// Shadows and lights
$drop-shadow: drop-shadow(0 0 8px rgba(255,255,255,.33));
$box-shadow: 0 0 10px $white;

// Notch
$notch: polygon(0 0,100% 0,100% calc(100% - 10px),calc(100% - 10px) 100%,0 100%);
$notch--outline: polygon(0 0,100% 0,100% calc(100% - 10px),calc(100% - 10px) 100%,0 100%,0 4px,4px 4px,4px calc(100% - 4px),calc(100% - 12px) calc(100% - 4px),calc(100% - 4px) calc(100% - 12px),calc(100% - 4px) 4px,0 4px);

// easing
$easing-quintic: bezier(.86,0,.07,1);


//////////////////////////////////////////
// MIXINS
/////////////////////////////////////////

// Size
@mixin size($width, $height: null) {
    width: $width;
  
    @if $height {
      height: $height;
    }
}

// Flex-box
@mixin flex($f_direction:null, $f_justifyContent:null, $f_alignItems:null, $f_wrap:null){
    display: flex;
  
    @if $f_direction{
      flex-direction: $f_direction;
    }
    @if $f_justifyContent{
      justify-content: $f_justifyContent;
    }
    @if $f_alignItems{
      align-items: $f_alignItems;
    }
    @if $f_wrap{
      flex-wrap: $f_wrap;
    }
}
  
// Grid
@mixin grid($number:1, $gutter:0) {
    display: grid;
    grid-template-columns: repeat($number, 1fr);
    grid-gap: $gutter;
}
