@font-face {
  font-family: 'Sergeant';
  src: url("../fonts/Sergeant/SergeantTechnicFont2.woff2") format("woff2"), url("../fonts/Sergeant/SergeantTechnicFont2.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Gotham';
  src: url("../fonts/Gotham/Gotham-Light.woff2") format("woff2"), url("../fonts/Gotham/Gotham-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Gotham';
  src: url("../fonts/Gotham/Gotham-Black.woff2") format("woff2"), url("../fonts/Gotham/Gotham-Black.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

main {
  display: block; }

h1 {
  font-size: 2em;
  margin: .67em 0; }

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

pre {
  font-family: monospace,monospace;
  font-size: 1em; }

a {
  background-color: transparent; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted; }

b, strong {
  font-weight: bolder; }

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -.25em; }

sup {
  top: -.5em; }

img {
  border-style: none; }

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0; }

button, input {
  overflow: visible; }

button, select {
  text-transform: none; }

[type=button], [type=reset], [type=submit], button {
  -webkit-appearance: button; }

[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button::-moz-focus-inner {
  border-style: none;
  padding: 0; }

[type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring, button:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  padding: .35em .75em .625em; }

legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

progress {
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto; }

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

details {
  display: block; }

summary {
  display: list-item; }

template {
  display: none; }

[hidden] {
  display: none; }

/*# sourceMappingURL=normalize.min.css.map */
*, *::before, *::after {
  min-width: 0;
  min-height: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  font-size: calc(1em * 0.625); }

.img-fit--cover {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center; }

.img-responsive {
  max-width: 100%;
  height: auto;
  display: block; }

.link-reset, [class^="btn"], .navbar-nav a, .link-reset:hover, [class^="btn"]:hover, .navbar-nav a:hover {
  text-decoration: none; }

.list-unstyled, .navbar-nav li {
  padding-left: 0;
  list-style: none; }

.container {
  width: 90%;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem; }

body {
  min-height: 100vh;
  padding-top: 3rem;
  background: black;
  font-family: "Gotham", "Helvetica Neue", Arial, sans-serif;
  font-size: 1.8rem;
  color: white;
  overflow-x: hidden; }

button {
  border: none;
  background: none;
  -webkit-box-shadow: none;
  box-shadow: none; }

[class^="btn"] {
  font-size: 1.6rem; }

.btn-burger {
  cursor: pointer; }
  .btn-burger:hover span {
    -webkit-box-shadow: 0 0 10px white;
    box-shadow: 0 0 10px white; }
  .btn-burger:hover span:nth-child(1) {
    -webkit-transform: scaleX(0.75);
    -ms-transform: scaleX(0.75);
    transform: scaleX(0.75); }
  .btn-burger:hover span:nth-child(2) {
    -webkit-transform: scaleX(0.25);
    -ms-transform: scaleX(0.25);
    transform: scaleX(0.25); }
  .btn-burger:hover span:nth-child(3) {
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1); }
  .btn-burger span {
    width: 24px;
    height: 3px;
    display: block;
    background: white;
    -webkit-transform-origin: right;
    -ms-transform-origin: right;
    transform-origin: right;
    -webkit-transition: -webkit-transform 0.3s ease-in-out, -webkit-box-shadow 0.2s;
    transition: -webkit-transform 0.3s ease-in-out, -webkit-box-shadow 0.2s;
    -o-transition: transform 0.3s ease-in-out, box-shadow 0.2s;
    transition: transform 0.3s ease-in-out, box-shadow 0.2s;
    transition: transform 0.3s ease-in-out, box-shadow 0.2s, -webkit-transform 0.3s ease-in-out, -webkit-box-shadow 0.2s; }
    .btn-burger span:nth-child(1) {
      -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
      transform: scaleX(1); }
    .btn-burger span:nth-child(2) {
      margin: 5px 0;
      -webkit-transform: scaleX(0.75);
      -ms-transform: scaleX(0.75);
      transform: scaleX(0.75); }
    .btn-burger span:nth-child(3) {
      -webkit-transform: scaleX(0.25);
      -ms-transform: scaleX(0.25);
      transform: scaleX(0.25); }

.btn-search {
  cursor: pointer;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  -webkit-transition: -webkit-transform 0.2s ease-in-out, -webkit-filter 0.2s;
  transition: -webkit-transform 0.2s ease-in-out, -webkit-filter 0.2s;
  -o-transition: transform 0.2s ease-in-out, filter 0.2s;
  transition: transform 0.2s ease-in-out, filter 0.2s;
  transition: transform 0.2s ease-in-out, filter 0.2s, -webkit-transform 0.2s ease-in-out, -webkit-filter 0.2s; }
  .btn-search:hover {
    -webkit-transform: scale(1.1) rotateZ(5deg);
    -ms-transform: scale(1.1) rotate(5deg);
    transform: scale(1.1) rotateZ(5deg);
    -webkit-filter: drop-shadow(0 0 10px white);
    filter: drop-shadow(0 0 10px white); }

.btn-default, .btn-primary, .btn-outline {
  height: 5rem;
  padding: 1.5rem 3rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  z-index: 1;
  line-height: 1;
  letter-spacing: 1px; }

.btn-primary {
  background: white;
  color: black;
  -webkit-transition: -webkit-filter 0.5s;
  transition: -webkit-filter 0.5s;
  -o-transition: filter 0.5s;
  transition: filter 0.5s;
  transition: filter 0.5s, -webkit-filter 0.5s; }
  .btn-primary:hover {
    -webkit-filter: drop-shadow(0 0 8px rgba(255, 255, 255, 0.33));
    filter: drop-shadow(0 0 8px rgba(255, 255, 255, 0.33)); }

.btn-outline {
  background: transparent;
  outline: none;
  color: #fff;
  text-transform: uppercase;
  -webkit-transition: color 0.3s, -webkit-filter 0.3s;
  transition: color 0.3s, -webkit-filter 0.3s;
  -o-transition: filter 0.3s, color 0.3s;
  transition: filter 0.3s, color 0.3s;
  transition: filter 0.3s, color 0.3s, -webkit-filter 0.3s; }
  .btn-outline:hover {
    color: black;
    -webkit-filter: drop-shadow(0 0 8px rgba(255, 255, 255, 0.33));
    filter: drop-shadow(0 0 8px rgba(255, 255, 255, 0.33)); }
    .btn-outline:hover:after {
      opacity: 1; }
  .btn-outline:before, .btn-outline:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: white;
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
    z-index: -1; }
  .btn-outline:before {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10px), calc(100% - 10px) 100%, 0 100%, 0 4px, 4px 4px, 4px calc(100% - 4px), calc(100% - 12px) calc(100% - 4px), calc(100% - 4px) calc(100% - 12px), calc(100% - 4px) 4px, 0 4px);
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10px), calc(100% - 10px) 100%, 0 100%, 0 4px, 4px 4px, 4px calc(100% - 4px), calc(100% - 12px) calc(100% - 4px), calc(100% - 4px) calc(100% - 12px), calc(100% - 4px) 4px, 0 4px);
    opacity: 1; }
  .btn-outline:after {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10px), calc(100% - 10px) 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10px), calc(100% - 10px) 100%, 0 100%);
    opacity: 0; }

.loader {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: black; }

.header {
  width: 100%;
  position: relative;
  z-index: 999; }

.navbar-premenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.navbar-brand {
  height: 20px; }
  .navbar-brand img {
    height: 100%;
    -webkit-transition: -webkit-filter 0.3s;
    transition: -webkit-filter 0.3s;
    -o-transition: filter 0.3s;
    transition: filter 0.3s;
    transition: filter 0.3s, -webkit-filter 0.3s; }
    .navbar-brand img:hover {
      -webkit-filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.5));
      filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.5)); }

.navbar-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 0;
  padding-left: 0; }
  .navbar-nav a {
    display: block;
    padding: 1rem 0;
    margin: 0 0.75rem;
    position: relative;
    color: white;
    font-weight: lighter;
    text-transform: uppercase;
    -webkit-transition: -webkit-filter 0.2;
    transition: -webkit-filter 0.2;
    -o-transition: filter 0.2;
    transition: filter 0.2;
    transition: filter 0.2, -webkit-filter 0.2; }
    .navbar-nav a:after {
      content: '';
      width: 100%;
      height: 1px;
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      background: white;
      -webkit-transform-origin: right;
      -ms-transform-origin: right;
      transform-origin: right;
      -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
      transform: scaleX(0);
      -webkit-transition: -webkit-transform ease-in-out 0.3s, -webkit-box-shadow 0.2s;
      transition: -webkit-transform ease-in-out 0.3s, -webkit-box-shadow 0.2s;
      -o-transition: transform ease-in-out 0.3s, box-shadow 0.2s;
      transition: transform ease-in-out 0.3s, box-shadow 0.2s;
      transition: transform ease-in-out 0.3s, box-shadow 0.2s, -webkit-transform ease-in-out 0.3s, -webkit-box-shadow 0.2s; }
    .navbar-nav a.is-active:after, .navbar-nav a:hover:after {
      -webkit-transform-origin: left;
      -ms-transform-origin: left;
      transform-origin: left;
      -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
      transform: scaleX(1); }
    .navbar-nav a:hover {
      -webkit-filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.7));
      filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.7)); }
      .navbar-nav a:hover:after {
        -webkit-box-shadow: 0 0 10px rgba(255, 255, 255, 0.4);
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.4); }

.main {
  overflow-x: hidden; }

.main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 80vh;
  min-height: 600px;
  padding-top: 8rem;
  padding-bottom: 6rem;
  position: relative;
  z-index: 1; }

.img-back {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  -webkit-transition: -webkit-filter 0.5s;
  transition: -webkit-filter 0.5s;
  -o-transition: filter 0.5s;
  transition: filter 0.5s;
  transition: filter 0.5s, -webkit-filter 0.5s; }

.content-title-tag {
  position: relative;
  z-index: 2; }

.svg-tag-animate {
  width: 320px;
  padding: 1rem;
  overflow: visible;
  -webkit-transition: opacity 0.15s;
  -o-transition: opacity 0.15s;
  transition: opacity 0.15s; }

.finished .svg-tag-animate {
  opacity: 0; }
  .finished .svg-tag-animate path {
    stroke: white;
    stroke-width: 1px;
    fill: transparent;
    stroke-dasharray: 2390;
    stroke-dashoffset: 2390; }

.content-text {
  position: relative;
  z-index: 2;
  text-align: center;
  text-transform: uppercase; }
  .content-text .btn-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 3rem; }
    .content-text .btn-container a:first-of-type {
      margin-right: 1.5rem; }
    .content-text .btn-container a:last-of-type {
      margin-left: 1.5rem; }

.content-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  position: absolute;
  top: 9rem;
  right: 0;
  z-index: 1; }
  .content-slider:hover .slider-counter {
    color: white;
    -webkit-filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.4));
    filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.4)); }
  .content-slider:hover .slider-bar-active {
    background-color: white;
    -webkit-box-shadow: 0 0 10px rgba(255, 255, 255, 0.4);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.4); }

.slider-counter {
  margin-right: 2rem;
  color: rgba(255, 255, 255, 0.3);
  font-family: "Sergeant", "Helvetica Neue", Arial, sans-serif;
  font-size: 4rem;
  letter-spacing: 2px;
  cursor: -webkit-grab;
  cursor: grab;
  -webkit-transition: color 0.2s, -webkit-filter 0.2s;
  transition: color 0.2s, -webkit-filter 0.2s;
  -o-transition: color 0.2s, filter 0.2s;
  transition: color 0.2s, filter 0.2s;
  transition: color 0.2s, filter 0.2s, -webkit-filter 0.2s; }

.slider-bar {
  width: 3px;
  height: 60vh;
  min-height: 15rem;
  position: relative;
  background: rgba(255, 255, 255, 0.2); }

.slider-bar-active {
  width: 3px;
  height: 5rem;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  -webkit-transition: background 0.2s, -webkit-box-shadow 0.2s;
  transition: background 0.2s, -webkit-box-shadow 0.2s;
  -o-transition: background 0.2s, box-shadow 0.2s;
  transition: background 0.2s, box-shadow 0.2s;
  transition: background 0.2s, box-shadow 0.2s, -webkit-box-shadow 0.2s; }

.footer {
  padding: 1rem 2rem;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  background: black;
  font-size: 1.4rem;
  font-weight: lighter;
  text-align: center;
  -webkit-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out; }
  .footer.is-active {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); }
  .footer p {
    margin-top: 0;
    margin-bottom: 0.5rem; }
  .footer a {
    display: inline-block;
    border-bottom: 1px solid white;
    color: white;
    text-decoration: none; }
