@import 'modules/functions';
@import 'modules/normalize';

//////////////////////////////////////////
// GENERAL
/////////////////////////////////////////

*,*::before,*::after{    
    min-width: 0;min-height: 0;
    box-sizing: border-box;
}
  
html{
    font-size: 62.5%;
    font-size: calc(1em * 0.625);
}


//////////////////////////////////////////
// HELPERS
/////////////////////////////////////////

.img-fit--cover{
    @include size(100%, 100%);
    object-fit: cover;
    object-position: center;
}

.img-responsive{
    max-width: 100%;
    height: auto;
    display: block;
}

.link-reset{
    &, &:hover{
      text-decoration: none;
    }
}

.list-unstyled{
	padding-left: 0;
    list-style: none;
}

.container{
    width: 90%;
    max-width: 1600px;    
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}


//////////////////////////////////////////
// BASE
/////////////////////////////////////////

body{
    min-height: 100vh;
    padding-top: 3rem;
    background: $black;
    font-family: $font-base;
    font-size: 1.8rem;
    color: $white;
    overflow-x: hidden;
}

button{
    border: none;
    background: none;
    box-shadow: none ;
}

[class^="btn"]{
    @extend .link-reset;
    font-size: 1.6rem;
}

.btn-burger{
    cursor: pointer;

    &:hover{
        span{ box-shadow: $box-shadow; }
        span:nth-child(1){ transform: scaleX(0.75); }
        span:nth-child(2){ transform: scaleX(0.25); }
        span:nth-child(3){ transform: scaleX(1); }
    }
    span{
        @include size(24px, 3px);
        display: block;
        background: $white;
        transform-origin: right;
        transition: transform 0.3s ease-in-out, box-shadow 0.2s;    

        &:nth-child(1){
            transform: scaleX(1);
        }
        &:nth-child(2){
            margin: 5px 0;
            transform: scaleX(0.75);
        }
        &:nth-child(3){
            transform: scaleX(0.25);
        }
    }
}

.btn-search{
    cursor: pointer;
    transform: scale(1);
    transform-origin: center;
    transition: transform 0.2s ease-in-out, filter 0.2s;

    &:hover{
        transform: scale(1.1) rotateZ(5deg);
        filter: drop-shadow(0 0 10px $white);;
    }
}

.btn-default{
    height: 5rem;
    padding: 1.5rem 3rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    line-height: 1;
    letter-spacing: 1px;
}

.btn-primary{
    @extend .btn-default;
    background: $white;
    color: $black;
    transition: filter 0.5s;

    &:hover{ filter: $drop-shadow; }
}

.btn-outline{
    @extend .btn-default;
    background: transparent;  
    outline: none;
    color:#fff;
    text-transform: uppercase;       
    transition: filter 0.3s, color 0.3s;

    &:hover{
        color: $black;
        filter: $drop-shadow;

        &:after{ opacity: 1; }
    }

    &:before, &:after{
        content: "";
        display: block;
        position: absolute;
        top: 0;bottom: 0;right: 0;left: 0;        
        background: $white;
        transition: 0.3s ease;
        z-index: -1;
    }
    &:before{
        clip-path: $notch--outline;
        opacity: 1;
    }
    &:after{
        clip-path: $notch;
        opacity: 0;
    }
}


//////////////////////////////////////////
// LOADER
/////////////////////////////////////////

.loader{
    position: fixed;
    top: 0;bottom: 0;left: 0;right: 0;
    z-index: 1000;
    background: black;
}


//////////////////////////////////////////
// HEADER
/////////////////////////////////////////

.header{
    width: 100%;
    position: relative;
    // position: fixed;
    // top: 3rem;
    // left: 0;
    z-index: 999;
}

.navbar{
    // Logo and icons
    &-premenu{
        @include flex(null, space-between, flex-start, wrap);        
    }

    // Brand logo
    &-brand{
        height: 20px;

        img{
            height: 100%;
            transition: filter 0.3s;

            &:hover{ filter: drop-shadow(0 0 10px rgba(255,255,255,0.5)); }
        }
    }

    // Menu navigation
    &-nav{
        @include flex(null, center, center, wrap);
        margin-top: 0;
        padding-left: 0;

        li{
            @extend .list-unstyled;
        }
        a{
            @extend .link-reset;
            display: block;
            padding: 1rem 0;
            margin: 0 0.75rem;
            position: relative;
            color: white;
            font-weight: lighter;
            text-transform: uppercase;
            transition: filter 0.2;

            &:after{
                content: '';
                @include size(100%, 1px);
                display: block;
                position: absolute;
                bottom: 0;
                left: 0;
                background: $white;
                transform-origin: right;
                transform: scaleX(0);
                transition: transform ease-in-out 0.3s, box-shadow 0.2s;
            }

            &.is-active:after, &:hover:after{
                transform-origin: left;
                transform: scaleX(1);                
            }

            &:hover{
                filter: drop-shadow(0 0 10px rgba(255,255,255,0.7));

                &:after{ box-shadow: 0 0 10px rgba(255,255,255,0.4); }
            }
        }
    }
}


//////////////////////////////////////////
// CONTENT
/////////////////////////////////////////

.main{ overflow-x: hidden; }

.main-content{
    @include flex(column, space-between, center);
    height: 80vh;
    min-height: 600px;
    padding-top: 8rem;
    padding-bottom: 6rem;
    position: relative;
    z-index: 1;
}

// Background image
.img-back{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    transition: filter 0.5s;
}

// Title Tag
.content-title-tag{
    position: relative;
    z-index: 2;
}

// tag SVG animation
.svg-tag-animate{
    width: 320px;
    padding: 1rem;
    overflow: visible;    
    transition: opacity 0.15s;

    
}
.finished .svg-tag-animate{
    opacity: 0;
    path{
        stroke: $white;
        stroke-width: 1px;
        fill: transparent;
        stroke-dasharray: 2390;
        stroke-dashoffset: 2390;
    }
}

// Text & btn container
.content-text{
    position: relative;
    z-index: 2;
    text-align: center;
    text-transform: uppercase;

    .btn-container{
        @include flex(null, center, center);
        margin-top: 3rem;

        a:first-of-type{ margin-right: 1.5rem; }
        a:last-of-type{ margin-left: 1.5rem; }
    }
}

// Slider
.content-slider{
    @include flex(null, flex-start, flex-start);
    position: absolute;
    top: 9rem;
    right: 0;
    z-index: 1;
    
    &:hover{
        .slider-counter{
            color: $white;
            filter: drop-shadow(0 0 10px rgba(255,255,255,0.4));
        }
        .slider-bar-active{
            background-color: $white;
            box-shadow: 0 0 10px rgba(255,255,255,0.4);
        }
    }
}

.slider{
    &-counter{
        margin-right: 2rem;
        color: rgba(255,255,255,0.3);
        font-family: $font-second;
        font-size: 4rem;
        letter-spacing: 2px;
        cursor:grab;
        transition: color 0.2s, filter 0.2s;
    }
    &-bar{
        @include size(3px, 60vh);
        min-height: 15rem;
        position: relative;
        background: rgba(255,255,255,0.2);        
    }
    &-bar-active{
        @include size(3px, 5rem);
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(255,255,255,0.5);
        cursor: pointer;
        transition: background 0.2s, box-shadow 0.2s;
    }
}

//////////////////////////////////////////
// FOOTER
/////////////////////////////////////////
.footer{
    padding: 1rem 2rem;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    background: $black;
    font-size: 1.4rem;
    font-weight: lighter;
    text-align: center;
    transform: translateY(100%);
    transition: transform 0.3s ease-in-out;

    &.is-active{ transform: translateY(0); }

    p{
        margin-top: 0;
        margin-bottom: 0.5rem;
    }

    a{
        display: inline-block;
        border-bottom: 1px solid $white;
        color: white;
        text-decoration: none;
    }
}